

/*
.header{
	background-color:lightblue;
	padding 10px 0 100px;
	height:400px;
	text-align:center;
}
*/

ul{
	list-style-type:none;
	overflow: hidden;
}

li a{
	padding:15px 35px;
	text-align:center;
	float:left;
	text-decoration:none;
	display:block;
}

li a:hover:not(.active) {
    background-color: white;
	text-decoration:none;
	opacity:0.2;
}


/*
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightblue;
}

li {
    float: left;
  
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
	 text-decoration: none;
}
*/

.menu-div{
	background-color:lightblue;
	height:50px;
}


.img-header{
	background: url(/images/home-bg.jpg); 
	height:400px;
	/* background-size: contain; */
	background-repeat: no-repeat; 
	text-align:center;
	padding:150px 0 200px; 
	color:white;
	font-size:60px;
}

@media screen and (max-width: 480px){
.img-header{
	font-size:40px;
	height:200px;
	padding:50px 0 20px; 
	background-size:480px 240px
}
}

.home-white{
	background-color:white;
	text-align:center;
	padding: 200px 0 200px;
}

.home-blue{
	background-color:lightblue;
	text-align:center;
	padding: 200px 0 200px;
}	

.abs{
	position: absolute;
    left: 100px;
    top: 150px;
}
