/* SURIYA TEXT ANIMATION */
svg {
    display: block;
    font: 15.5em 'Montserrat';
    /* width: 100rem;
    height: 80rem; */
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #4D163D;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #840037;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #BD0034;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #BD0034;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #FDB731;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}

/* ///////////////////////// */
/* SUN ANIMATION */

.suriya-animation-container {
    width: 100px;
    height: 100px;
    position: relative;
  }


   .suriya-animation,
  .container-sun {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: -90%;
  } 
  .container-sun {
    z-index: 5;
    /* opacity: 50%; */
  } 


.container-sun{
    /* z-index: -20; */
    text-align:center;
  }
  /* the svg element */
  .svg-sun{
    width: 1200px;
    height: 1200px;
  
    -webkit-transform-origin: center center;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin:50% 50%;
  
  -webkit-animation: spin 25s linear infinite, sun-glow 3s 0s linear infinite;
  -moz-animation: spin 25s linear infinite, sun-glow 3s 0s linear infinite;
  -o-animation:spin 25s linear infinite, sun-glow 3s 0s linear infinite;
  -ms-animation: spin 25s linear infinite, sun-glow 3s 0s ease-in-out infinite;
  animation: spin 25s linear infinite,sun-glow 3s 0s linear infinite;
  
  }
  /* the circle element in the svg itself */
  #sun{
    stroke-width:18;
    stroke-dasharray:2;
    stroke-dashoffset:2;
  }
  /* animation for the sun glowing effect */
  @-webkit-keyframes sun-glow { 
      0% { fill: #f1c40f; stroke:#f1c40f;}
      50% { fill: #e67e22; stroke:#e67e22;}
      100% { fill: #f1c40f; stroke:#f1c40f;}
  }
  @-moz-keyframes sun-glow { 
      0% { fill: #f1c40f; stroke:#f1c40f;}
      50% { fill: #e67e22; stroke:#e67e22;}
      100% { fill: #f1c40f; stroke:#f1c40f;}
  }
  @-o-keyframes sun-glow { 
      0% { fill: #f1c40f; stroke:#f1c40f;}
      50% { fill: #e67e22; stroke:#e67e22;}
      100% { fill: #f1c40f; stroke:#f1c40f;}
  }
  @-ms-keyframes sun-glow { 
      0% { fill: #f1c40f; stroke:#f1c40f;}
      50% { fill: #e67e22; stroke:#e67e22;}
      100% { fill: #f1c40f; stroke:#f1c40f;}
  }
  @keyframes sun-glow { 
      0% { fill: #f1c40f; stroke:#f1c40f;}
      50% { fill: #e67e22; stroke:#e67e22;}
      100% { fill: #f1c40f; stroke:#f1c40f;}
  }
  
  /* start spin animation */
  @-webkit-keyframes spin{
      100% {
          -webkit-transform: rotate(360deg);
      }
  }
  @-moz-keyframes spin{
      100% {
          -moz-transform: rotate(360deg);
      }
  }
  @-o-keyframes spin{
      100% {
          -o-transform: rotate(360deg);
      }
  }
  @-ms-keyframes spin{
      100% {
          -ms-transform: rotate(360deg);
      }
  }
  @keyframes spin{
      100% {
          transform: rotate(360deg);
      }
  }

  @media (min-width: 100px) and (max-width: 1200px) { 
    .container-sun{
        opacity: 20%;
        z-index: 5;
        top: -10%;
        left: -30%;
    }

    .svg-sun{
        width: 200px;
        height: 200px;
    }

  }


  /* ///////////////////////// */
/* REVEAL ANIMATION */

  
  .reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }

  .side-reveal{
    position: relative;
    transform: translateX(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .side-reveal.active{
    transform: translateX(0);
    opacity: 1;
  }

  
  @media (min-width: 100px) and (max-width: 1200px) { 
    .side-reveal{
      transform: translateX(0);
      opacity: 1;
    }
  }
 
/* ///////////////////////// */
/* https://codepen.io/lcstep/pen/OZmqOy */
.sun {
    height: 600px;
    width: 600px;
    /* background: white; */
    /* background: radial-gradient(circle, rgba(217,17,17,1) 0%,  rgba(0,0,0,0) 40%); */
    background-image: url('/assets/img/logo/loder.png');
    /* background: radial-gradient(circle, rgba(217,17,17,1) 0%, rgba(253,149,45,1) 100%); */
      /* background-size: 100%; */
      background-repeat: no-repeat;
      background-position: center;
      -webkit-animation: Gradient 6s ease-in-out infinite, rotate 10s infinite;
    -moz-animation: Gradient 6s ease-in-out infinite , rotate 10s infinite;
      animation: Gradient 6s ease-in-out infinite, rotate 10s infinite; 
    position: absolute;

  }
  
  @-webkit-keyframes Gradient {
      0% {
          background-size: 50%;
      }
      50% {
          background-size: 80%; 
      }
      100% {
          background-size: 50%;
      }
  }
  
  @-moz-keyframes Gradient {
          0% {
          background-size: 50%;
      }
      50% {
          background-size: 80%;
      }
      100% {
          background-size: 50%;
      }
  }
  
  @keyframes Gradient {
      0% {
          background-size: 50%;
      }
      50% {
          background-size: 80%;
      }
      100% {
          background-size: 50%;
      }
  }

  
  @keyframes rotate {
    0% {
      -webkit-transform: rotate3d(0, 0, 1, 0deg);
      transform: rotate3d(0, 0, 1, 0deg);
    }
    25% {
      -webkit-transform: rotate3d(0, 0, 1, 90deg);
      transform: rotate3d(0, 0, 1, 90deg);
    }
    50% {
      -webkit-transform: rotate3d(0, 0, 1, 180deg);
      transform: rotate3d(0, 0, 1, 180deg);
    }
    75% {
      -webkit-transform: rotate3d(0, 0, 1, 270deg);
      transform: rotate3d(0, 0, 1, 270deg);
    }
    100% {
      -webkit-transform: rotate3d(0, 0, 1, 360deg);
      transform: rotate3d(0, 0, 1, 360deg);
    }
  } 

    /* ///////////////////////// */
/* CURSOR ANIMATION */

  /* body { cursor: url('/assets/img/logo/logo2_footerss.png') -300 -300, none } */

  @media (min-width: 100px) and (max-width: 1200px) { 
    body { cursor: url('/assets/img/logo/logo2_footerss.png') 0 0, crosshair }
    .sun {
      /* background-image: url(''); 
      display: none;
      height: 0px;
      width: 0px; */
    }
  }

  @media (min-width: 100px) and (max-width: 600px) { 
    .sun {
      /* background-image: url(''); 
      display: none;*/
      height: 300px;
      width: 200px; 
    }
  }

  @media (min-width: 600px) and (max-width: 1200px) { 
    .sun {
      /* background-image: url(''); 
      display: none;*/
      height: 400px;
      width: max-width; 
    }
  }


    /* ///////////////////////// */
/* TEXT TYPEWRITER ANIMATION */
  
.typewriter-parent {
  font-size: 80px;
  display: block;
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 22px;
  color: #670000;
  white-space: nowrap;
  overflow: hidden; 
  font-family: "Poppins", sans-serif;  
  /* font-size: 28px; */
  /* color: #670000; */
  position: relative;
}

.typewriter-border {
  border-bottom: solid 3px rgba(0,255,0,.75);
  position: absolute;
  right: -7px;
  width: 20px;
}

/* Animation */
.typewriter-parent {
  animation: animated-text 2s steps(30,end) 1s 1 normal both
}

.typewriter-border {
   animation: animated-cursor 600ms steps(30,end) infinite;
}

/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 250px;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-bottom-color: rgba(0,255,0,.75);}
  to{border-bottom-color: transparent;}
}
